body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    padding: 1.5em;
}

.header {
    background-color: #8BD7D2;
    padding: 1em;
    margin-bottom: 10px;
    border-radius: 5px;
}

.header-title {
    text-decoration: none;
    font-size: 3.3em;
    color: #FFFBFA;
}

.header-nav {
    text-align: center;
}

.header-nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-nav__item {
    display: inline-block;
}

.header-nav__link {
    padding: 0.5em 3em;
    font-weight: bold;
    text-transform: uppercase;
}

.header-nav__link:hover {
    background-color: #00BD9D;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: none;
    color: black;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-title,
.home-desc {
    text-align: center;
}

.product {
    text-align: center;
    border: 1px solid #8BD7D2;
    box-shadow: #8bd7d2c4 0px 19px 38px, #8bd7d2c4 0px 15px 12px;
    border-radius: 10px;
    margin: 2em;
    padding: 1em;
    width: 320px;
}

.product-img {
    max-width: 11em;
}

.product-is-add {
    display: none;
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    background-color: #2deb5c57;
    color: #1d923a;
}

.btn {
    border-radius: 15px;
    padding: 5px;
}

.btn:focus{
    outline-style: none;
}

.list-container{
    display: none;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.footer-copyright {
    margin-top: 2em;
    text-align: center;
}

.copyright-strong {
    font-weight: bold;
}